.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 8px;
  max-width: 40rem;
  margin: 0 auto;
  padding: 1.0rem;

  border-bottom: 1px dashed gray;
  text-align: center;
}

.button {
  border: none;
  background-color: transparent;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button:hover {
  cursor: pointer;
}

.buttonText {
  color: rgb(var(--foreground-rgb));
  font-size: 0.6rem;
}

.button:hover .buttonText {
  color: gray;
}

.icon {
  color: rgb(var(--foreground-rgb));
}

.button:hover .icon {
  color: gray;
}

.notify {
  background-color: transparent;
  position: fixed;
  top: 10%;

  height: 40px;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.notifyType {
  position: relative;
  top: 30%;
  background-color: rgb(var(--background-start-rgb));

 padding: 0 8px;

}

.notifyTypeLose {
  color: rgb(var(--notify-lose-font-rgb));
}

.notifyTypeAlert {
  color: rgb(var(--notify-alert-font-rgb));
}

.notifyTypeWin {
  color: rgb(var(--notify-win-font-rgb));
}

.notifyAlert {
  color: rgb(var(--notify-alert-font-rgb));
  text-align: center;
  margin: 0 auto;
  padding: 12px;
  width: 30rem;
  background-color: rgb(var(--background-start-rgb));
  border: 1px solid rgb(var(--notify-alert-font-rgb));
  border-radius: 8px;
}

.notifyWin {
  color: rgb(var(--notify-win-font-rgb));
  text-align: center;
  margin: 0 auto;
  padding: 12px;
  width: 30rem;
  background-color: rgb(var(--background-start-rgb));
  border: 1px solid rgb(var(--notify-win-font-rgb));
  border-radius: 8px;
}

.notifyLose {
  color: rgb(var(--notify-lose-font-rgb));
  text-align: center;
  margin: 0 auto;
  padding: 12px;
  width: 80%;
  max-width: 30rem;
  background-color: rgb(var(--background-start-rgb));
  border: 1px solid rgb(var(--notify-lose-font-rgb));
  border-radius: 8px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 6rem;
  min-height: 100vh;
  width: 100%;
}

.inform {
  width: 70vw;
  text-align: center;
  font-size: clamp(0.6rem, 0.6rem + 1vw, 1rem);
}

.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.0rem;
}

.img {
  width: clamp(4.0rem, 12vw, 6.0rem);
}

.paragraph {
  text-align: justify;
  color: rgb(var(--foreground-rgb));
  font-size: clamp(0.8rem, 0.8rem + 1vw, 1.0rem);
}

.anchor {
  color: rgb(var(--anchor-rgb));
  cursor: pointer;
}

.anchor:hover {
  text-decoration: underline;
}

.configSet {
  border: 1px solid gray;
  border-radius: 8px;
  padding: 8px;

  min-width: fit-content;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.configText {
  color: rgb(var(--foreground-rgb));
  font-size: 1.0rem;
}

.inputRadio {
  appearance: none;
  border: 2px solid gray;
  width: 1rem;
  min-width: fit-content;
  aspect-ratio: 1.0;
  border-radius: 50%;
  cursor: pointer;
}

.inputRadio:checked {
  background-color: rgb(var(--foreground-rgb));
}

.inputRange {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

.inputRange::-ms-track {
  width: 100%;
  cursor: pointer;

  background-color: transparent;
  border-color: transparent;
  color: transparent;
}

.inputRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border: 2px solid gray;
  border-radius: 50%;
  background: rgb(var(--foreground-rgb));
  cursor: pointer;
  margin-top: -6px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

.inputRange::-moz-range-thumb {
  height: 16px;
  width: 16px;
  border-radius: 999px;
  background: rgb(var(--foreground-rgb));
  cursor: pointer;
}

.inputRange::-ms-thumb {
  height: 16px;
  width: 16px;
  border-radius: 999px;
  background: rgb(var(--foreground-rgb));
  cursor: pointer;
}

.inputRange::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: gray;
  border-radius: 5px;
}

.inputRange::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: rgb(var(--foreground-rgb));
  border-radius: 5px; 
}

.inputRange::-ms-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: rgb(var(--foreground-rgb));
  border-radius: 5px;  
}

.player {
  color: rgb(var(--player-rgb));
}

.cheese {
  color: rgb(var(--cheese-rgb));
}

.foe {
  color: rgb(var(--foe-rgb));
}

.homeClosed {
  color: rgb(var(--home-closed-rgb));
}

.homeOpen {
  color: rgb(var(--home-opened-rgb));
}

.table {
  color: rgb(var(--foreground-rgb));
  font-size: 1.0rem;

  margin: 0 auto;
  width: 100%;

  border: 1px solid gray;
  border-radius: 8px;
}

.tr:nth-child(even) {
  background-color: rgb(var(--background-end-rgb));
}

.eraseButton {
  background-color: transparent;
  border: transparent;
  font-size: clamp(0.8rem, 0.8rem + 1vw, 1.0rem);
  color: rgb(var(--anchor-rgb));
  cursor: pointer;

}

.eraseButton:hover {
  text-decoration: underline;
}

.author {
  text-align: justify;
  color: rgb(var(--foreground-rgb));
  font-size: clamp(0.8rem, 0.8rem + 1vw, 1.0rem);

  border: 1px solid gray;
  border-radius: 8px;
  padding: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.footer {
  color: rgb(var(--foreground-rgb));
  font-size: 0.9rem;
  text-align: center; 

  border-top: 1px solid gray;
  margin: 8px;
  padding-top: 3px;
}